@import url('./theme.css');

#steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#stepTitle {
    margin-top: 32px !important;
}

#form-container {
    max-width: 695px !important;
}

.step {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #858C95;
    white-space: nowrap;
}

.step div{
    width: 31px;
    height: 31px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #EAEBF0;
    border-radius: 100%;

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.step span{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.step-divider {
    display: flex;
    align-items: center;
}

.step-active > span{
    color: var(--primary);
}

.step-active div {
    background-color: var(--primary);
    color: white
}

.registration-success {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #858C95;
}

.registration-success img {
    max-width: 352px;
    
    margin: 32px auto;
}

.step-divider svg {
    color: #EAEBF0;
}

.step-divider-passed svg {
    color: var(--primary);
}

.step svg {
    display: none;
}

.step-completed svg {
    display: block;
}

.step-completed .step-index {
    display: none;
}

.step-completed {
    color: var(--primary);
}

.step-completed .step-circle {
    background-color: var(--primary);
}

.dropdown-wrapper svg {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 16px;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-trigger {
    font-size: 15px;
    line-height: 22px;
    color: #858C95;

    padding: 13px 12px;

    border: 1px solid #EAEBF0;
    border-radius: 8px;
    background-color: var(--base);

    box-sizing: border-box;
    width: 100%;

    cursor: pointer;
    text-align: left;
}

.dropdown-menu {
    min-width: 100%;
    background-color: white;
    border: 1px solid #EAEBF0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 9999;
    list-style: none;
    padding: 8px 0;
    border-radius: 8px;
}

.dropdown-wrapper {
    position: relative;

    display: flex;
    align-items: center;
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #323539;
}

.dropdown-menu li:hover {
    background-color: #ECF4FC;
    color: var(--primary);
}








