@import url('./theme.css');

#steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#stepTitle {
    margin-top: 32px !important;
}

#form-container {
    max-width: 695px !important;
}

.step {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #858C95;
    white-space: nowrap;
}

.step div{
    width: 31px;
    height: 31px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #EAEBF0;
    border-radius: 100%;

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.step span{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.step-divider {
    display: flex;
    align-items: center;
}

.step-active > span{
    color: var(--primary);
}

.step-active div {
    background-color: var(--primary);
    color: white
}

.registration-success {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #858C95;
}

.registration-success img {
    max-width: 352px;
    
    margin: 32px auto;
}

.step-divider svg {
    color: #EAEBF0;
}

.step-divider-passed svg {
    color: var(--primary);
}

.step svg {
    display: none;
}

.step-completed svg {
    display: block;
}

.step-completed .step-index {
    display: none;
}

.step-completed {
    color: var(--primary);
}

.step-completed .step-circle {
    background-color: var(--primary);
}